<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<title>{% block title %}DYW{% endblock %}</title>
	
		<link rel="stylesheet" type="text/css" media="screen" charset="utf-8" href="/s/css/base.css">
	  <link rel="stylesheet" type="text/css" media="screen" charset="utf-8" href="/s/css/color.css">
		<link rel="stylesheet" type="text/css" media="screen" charset="utf-8" href="/s/css/rst.css">
	
		<script type="text/javascript" src="http://www.google.com/jsapi"></script>
		<script type="text/javascript" >google.load("mootools", "1.2.1");</script>
		
		<script type="text/javascript" charset="utf-8" src="/s/js/ext.js"></script>
		
		<style type="text/css" media="screen">
			body {
				background:#EDF0F4 url(/s/img/hb.png) repeat-x scroll 0 0;
			}
		</style>
	</head>
	<body>
		{% block main_content  %}
		{% endblock %}
	</body>
</html>