{% extends 'base/clean.html' %}
{% block site_content %}
<div class="content-box">
	<div class="content-box-head">
		<strong style="font-size:14px;">Changelog</strong>
	</div>
	<div class="content-box-body">
		<div style="font-size:16px; border-bottom: 1px solid grey;">0.05s ( planowane )</div>
		<ol>
			<li>Rejestracja dla kazdego</li>
			<li>Role w projekcie</li>
			<li>Ludzie podzieleni na firmy/organizacje</li>
			<li>Eksport danych projektu (xml)</li>
			<li>Usuwanie ludzi z zespolu</li>
			<li>Pliki do stron wiki i ticketow</li>
			<li>Nowe RSSy
				<ol>
					<li>Aktywnosci uzytkownika</li>
					<li>Aktywnosci</li>
					<li>Etap</li>
					<li>Strony wiki</li>
				</ol>
			</li>
		</ol>
		<div style="font-size:16px; border-bottom: 1px solid grey;">0.04n</div>
		<ol>
			<li>Obserwowanie zadan</li>
			<li>Nowa tablica</li>
			<li>Podgląd pisanego komentarza</li>
			<li>Wiecej info w ticketach</li>
			<li>Zmiana biblioteki na jquery</li>
			<li>Poczatki testow w kodzie</li>
			<li>Mozliwosc zmiany hasła</li>
			<li>Aktywnosci w projekcie
				<ol>
					<li>Nowe zadania</li>
					<li>Zmiana w zadaniu</li>
					<li>Zamykanie zadania</li>
					<li>Nowa strona w wiki</li>
					<li>Edycja strony wiki</li>
				</ol>
			</li>
			<li>Lepsze sortowanie zadan</li>
			<li>Strona uzytkownika, z jego zadaniami</li>
			<li>Nowe pola Status,Typ,Priorytet w zadaniu</li>
			<li>Mozliwosc dodania wielu zadan</li>
			<li>Ta strona</li>
			<li>Mozna sie wylogowac</li>
			<li>Nowy typ dodawania osoby do projektu</li>
			<li>Komunikaty do uzytkownika</li>
			<li>Unifikacja nazw uzytkownikow</li>
			<li>Poprawa paru literowek</li>
			<li>Prawa dostepu - projekt widoczny tylko dla zespolu</li>
		</ol>
		<div style="font-size:16px; border-bottom: 1px solid grey;">0.03n</div>
		<ol>
			<li>Szybkie akcje w ticketach</li>
			<li>Naprawiono pokazywanie etapów i osob w ticketach</li>
			<li>Dodano ikonki :P</li>
			<li>Poprawione błędy w rssach</li>
		</ol>
	</div>
</div>
{% endblock %}