<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<title>Oooops mamy problem</title>
		<style type="text/css" media="screen">
			/* CSS issu des tutoriels www.alsacreations.com/articles */
			body {
				margin: 0;
				padding: 0;
			}

			#global {
				position:absolute;
				left: 50%;
				top: 50%;
				width: 202px;
				height: 270px;
				margin-top: -140px; /* moitié de la hauteur */
				margin-left: -100px; /* moitié de la largeur */
			}
		</style>
	</head>
	<body>
		<div id="global">
			<img style="border: 1px solid grey;" src="/s/img/500.jpg">
			<textarea style="width:202px;">{{ message }}</textarea>
		</div>
		<!-- {{ message }} --> 
	</body>
</html>
