{% load render %}
<table border="0" cellspacing="1" cellpadding="2" style="width:100%">
	<tr>
		<td>Nazwa</td>
		<td>Etap</td>
		<td>Status</td>
		<td>Osatnia zmiana</td>
		<td>Przypisany do</td>
		<td>Priorytet</td>
		<td>Typ</td>
		<td>Dodał</td>
	</tr>
	{% for task in tasks %}
	<tr {% if task.is_closed %} style="background-color:#eee; color:grey;" {% else %} class="ticket-b-{{task.priority.no}}" {% endif %}>
		<td>
			<div><a href="/p/{{task.project.name}}/tasks/{{ task.id }}/">{{ task.title }}</a></div>
			{% if task.tags.all %}<div style="font-size:8px; margin-top:4px; text-transform: uppercase;">{% for tag in task.tags.all %}<span class="tag" style="margin:0px; padding:1px; margin-right:2px;">{{ tag.name }}</span>{% endfor %}</div>{% endif %}
		</td>
		<td>{{ task.milestone.title }}</td>
		<td>{{ task.status.title }}</td>
		<td><span class="ddate">{{ task.date_modified }}</span></td>
		<td>
	    {% if task.assigned %}
			{% render user/frag/in_line.html user=task.assigned %}
		{% else %}
		-
		{% endif %}
	    </td>
		<td>{{ task.priority.title }}</td>
		<td>{{ task.in_type.title }}</td>
		<td>{% render user/frag/in_line.html user=task.creator %}</td>
	</tr>
	{% endfor %}
</table>