{% extends 'base/clean.html' %}
{% load render %}
{% block site_content %}
<div class="content-box">
	<div class="content-box-head">
		<strong style="font-size:14px;">Lista zadań dla etapu</strong>
	</div>
	<div class="content-box-body">
		{% render task/frag/tasks.html tasks=tasks %}
	</div>
</div>
<!--
<div class="content-info">
	<div class="content-info-head">
	 	<strong>Strony</strong>
	</div>
	{% for page in pages %}
	<div style="padding:4px; background-color:#eee; margin-bottom:2px">
	<a href="/p/{{ project.name }}/wiki/{{ page.name }}/">{{ page.get_title }}</a><br/>
	</div>
	{% endfor %}
</div>
-->
{% endblock %}